asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django==4.2.7
django-cors-headers
django-extensions
django-filter
djangorestframework
djangorestframework_simplejwt
djoser
drf-yasg
idna
inflection
oauthlib
packaging
psycopg2-binary
pycparser
PyJWT
python3-openid
pytz
PyYAML
requests
requests-oauthlib
rest-framework-simplejwt
social-auth-app-django
social-auth-core
sqlparse
typing_extensions
uritemplate
urllib3
boto3==1.34.3
django-storages==1.14.2
Pillow==10.1.0