asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-cors-headers
django-extensions
djangorestframework
djangorestframework_simplejwt
djoser
idna
pillow
pycparser
python3-openid
requests
requests-oauthlib
rest-framework-simplejwt
social-auth-app-django
social-auth-core
sqlparse
typing_extensions
urllib3
